langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-mistralai
langchain-ollama
langchain-qdrant
mistralai
ollama
protobuf==3.20.3
pydantic
PyPDF2
python-dotenv
sentence-transformers
streamlit
streamlit-chat
tiktoken
requests
numpy
pandas
chromadb
